li,
ul {
  padding: 0;
  margin: 0;
}

.footer__wrapper {
  background: url("../img/design/pattern.png") $purpur;
  padding-top: 62px;
  padding-bottom: 60px;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
  & div:nth-child(2) {
    margin-left:120px ;
  }
}

.footer__logo {
  width: 139px;
  height: 39px;
  margin-left: 100px;
  background: url("../img/design/footer_logo.png") center no-repeat;
  display: inline-block;
  float: left;

}

.footer__menu {
  color: #ffffff;
  list-style: none;
  float: left;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-left: 76px;
  h5 {
    margin: 0;
    font-family: "elektra_light_proregular", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;

  }

  & > li {
    display: inline-block;
  }

}

.footer__menu--item {
  list-style: none;
  a {
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
  }
}

.footer__social {
  display: inline-block;
  margin-top: 9px;
  margin-left: 124px;
}

.footer__market-appstore {
  background: url("../img/design/Appstore.png") no-repeat;
  width: 90px;
  height: 32px;
  display: inline-block;
  img {
    display: block;
  }
}

.footer__market-appmarket {
  background: url("../img/design/Google_market.png") no-repeat;
  width: 90px;
  height: 32px;
  display: inline-block;

  img {
    display: block;
  }
}

.footer__market {
  font-size: 0;
  margin-bottom: 28px;

}

.footer__icon-vk {
  background: url("../img/design/social_icons.png") 0px center no-repeat;
  width: 44px;
  height: 44px;
  display: inline-block;
}

.footer__icon-fb {
  background: url("../img/design/social_icons.png")-52px center no-repeat;
  width: 44px;
  height: 44px;
  display: inline-block;
}

.footer__icon-tw {
  background: url("../img/design/social_icons.png") -102px center no-repeat;
  width: 44px;
  height: 44px;
  display: inline-block;
}