.logo {
  margin-bottom: 25px;
}

.logo img {
  display: block;
}

.order-call {
  background-color: #f4f6f9;
  margin-bottom: 15px;
}

.order-call-wrapper {
  padding: 15px 10px;
}

.order-call__titel {
//  text-align: center;
  color: $grey;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 15px;
  label {
    font-size: 14px;
    color: $grey;
    float: left;
    vertical-align: middle;
    padding-top: 8px;

  }
  input {
    float: right;
    width: 120px;
    font-size: 12px;
    placeholder:#dae1eb;
    color: #000000;
    padding: 8px 5px;
    border: solid 1px #dae1eb;
    height: 9px;
  }
  select {
    float: right;
    width: 50px;
  }
  textarea{
    height: 47px;
    width: 207-20px;
    border:solid 1px #dae1eb;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    resize: none;
  }

}
.btn{
  display: inline-block;
//  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  font-size: 15px;
  color: #ffffff;
  }

.btn-default{
  height: 35px;
  width: 90px;
  background-color: $blue ;
  margin-top: -4px;
}
.btn-submit{
  height: 35px;
  width: 90px;
  background-color: #dae1eb;
  float: right;
  margin-top: -4px;
}

.image-grope {
  margin-bottom: 30px;
}

.image-grope__list {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  margin-bottom: -15px;
  li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    &:nth-child(3n+1) {
      margin-left: 0;
    }

  }
  img {
    display: block;

  }
}

.contacts {
  background-color: #f4f6f9;

}

.contacts__wrapper {
  padding-top: 19px;
  padding-bottom: 16px;
  position: relative;
}

.contacts__address {
  color: $grey;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-left: 41px;
  display: block;
  width: 167px;
  text-decoration: none;
&:last-child{
  margin-left: 64px;
}
}

.contacts__address--margin {
  @extend .contacts__address;
  text-align: left;
  margin-bottom: 13px;
}

.contacts__icon-address {
  position: absolute;
  font-size: 0;
  height: 22px;
  left: 23px;
  width: 16px;
  background: url("../img/design/icon_address.png") no-repeat;
}

.contacts__icon-phone {
  display: inline-block;
  font-size: 0;
  height: 22px;
  width: 16px;
  background: url("../img/design/icon_phone.png") no-repeat;
  position: absolute;
  left: 42px;
}

//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.has-success input{
  border-color: #b5d592!important;
}
.has_error{
  color: green;
input{
  border-color:  red!important;
}
}
.wrap_select{

  width: 52px;
  height: 24px;
  overflow: hidden;
  background: url("../img/design/arow.png") no-repeat right #ffffff;
  /* border: 1px solid #ccc; */
  /* display: inline-block; */
  float: right;

  select {
    background: transparent;
    width: 53px;
    /* line-height: 1; */
    border: 0;
    /* border-radius: 0; */
    height: 27px;
    -webkit-appearance: none;
}



}
.correct{
  margin-right: 9px;
}