.slider {
  position: relative;
  margin-bottom: 41px;
  a{
    font-size: 18px;
  }

}

.slider__list-wrapper {
  width: 740px;
  height: 300px;
  overflow: hidden;
}

.slider__list {
  width: 20000px;
  position: relative;
  transition: .3s;
  left: 0;
}

.list__item {
  position: relative;
  float: left;
}

.slider__controls-button {
  position: absolute;
  top: 102px;
  font-weight: 700;
  font-size: 17px;
  color: $grey;
  display: block;
  background-color: #ffffff;
  padding: 6px;
  text-decoration: none
;

}


.slider__control-button_next {
  right: 22px;
  &:after {
    content: '';
    top: 0px;
    left: 58px;
    border: 17px solid transparent;
    border-left: 14px solid #ffffff;
    position: absolute;
  }
  &:hover{
    color: #ffffff;
    background-color: $blue;
    &:after {
      border-left: 14px solid $blue;

    }
  }

}

.slider__control-button_prev {
  left: 18px;
  &:after {
    content: '';
    top: 0px;
    right: 60px;
    border: 17px solid transparent;
    border-right: 14px solid #ffffff;
    position: absolute;
  }
  &:hover{
    color: #ffffff;
    background-color: $blue;
    &:after {

      border-right: 14px solid $blue;
    }
  }
}

.slider__list__caption {
  position: absolute;
  bottom: 0;
  left: 0;

  background: rgba(73, 67, 64, 0.55);
  width: 100%;
  a {
    display: block;
    padding-left: 28px;
    padding-top: 13px;
    margin-bottom: 5px;
    min-width: 100px;
  }
  span {
    display: block;
    padding-left: 27px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 21px;
  }
}
